<% include partials/header.ejs %>
<div class="index-wrapper mt-0 pr-4 container-fluid task-group bg-dark">
	<div id="cont" class="row p-2 pb-0 align-items-start cont">
		<% if (tasks) {%>
			<% if (tasks.length > 0) {%>
				<% tasks.forEach((task, index) => { %>
					<div id="<%= task.id %>" class="card mr-3" data-taskinfo='{"id": "<%= task.id %>", "bucket": "<%= task.bucket %>", "task": "<%= task.task %>", "status": "<%= task.status %>", "time": "<%= task.time %>", "notes": "<%= task.notes %>", "description": "<%= task.description %>"}'>
						<div id="bucket" class="card-header"><%= task.bucket %></div>
						<div class="card-body">
							<h5 id="task" class="card-title"><%= task.task %></h5>
							<ul class="list-group list-group-flush mb-3">
								<li class="list-group-item">Status: <em id="status"><%= task.status %></em></li>
								<li class="list-group-item">Time Req: <em id="time"><%= task.time %></em></li>
								<li class="list-group-item">Notes: <em id="notes"><%= task.notes %></em></li>
								<li class="list-group-item wsn">Desc: <em id="desc"><%= task.description %></em></li>
							</ul>
							<a href="/delete/<%= task.id %>" class="btn btn-sm btn-danger">Delete</a>
							<a href="/edit/<%= task.id %>" rel="noopener" class="btn btn-sm btn-success">Edit</a>
						</div>
					</div>
				<% }) %>
			<% } else { %>
				<p class="text-center">No tasks found. Go <a href="/add" >here</a> to add tasks.</p>
			<% } %>
	<% } %>
</div>
</div>
</div>
<script type="application/x-javascript" src="js/index-html.js"></script>
<script type="text/javascript">
	(function() {
		function scrollHorizontally(e) {
			e = window.event || e;
			var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
			document.getElementById('cont').scrollLeft -= (delta*40); // Multiplied by 40
			e.preventDefault();
		}
		if (document.getElementById('cont').addEventListener) {
			// IE9, Chrome, Safari, Opera
			document.getElementById('cont').addEventListener("mousewheel", scrollHorizontally, false);
			// Firefox
			document.getElementById('cont').addEventListener("DOMMouseScroll", scrollHorizontally, false);
		} else {
			// IE 6/7/8
			document.getElementById('cont').attachEvent("onmousewheel", scrollHorizontally);
		}
	})();
</script>
</body>
</html>
